<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="icons/mdi/css/materialdesignicons.css"/>

</head>

<body>
<bourbon-navbar></bourbon-navbar>
<a ui-sref="addProduct">add product</a>

<div ui-view class="container-fluid"></div>

<bourbon-footer></bourbon-footer>
</body>