<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="images/placeholder_logo_1.png"
           alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li ng-repeat="p in navbar.nav.primary" class="nav-link">
          <a ng-link="{{::p.link}}" translate>{{p.title}}</a>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li ng-repeat="s in navbar.nav.secondary" class="nav-link">
              <a ng-link="{{::s.link}}" translate>{{s.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <!--<div class="search-bar">-->
        <!--<form role="search">-->
          <!--<input type="search" placeholder="Enter Search"/>-->
          <!--<button type="submit">-->
            <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"-->
                 <!--alt="Search Icon">-->
          <!--</button>-->
        <!--</form>-->
      <!--</div>-->
      <!--<a ng-link="main:register" class="sign-up">Sign Up</a>-->
      <meteor-include src="loginButtons"></meteor-include>
    </div>
  </div>
</header>
