/**
*  Date-Line
**/
.date-line {
  line-height: 0.5;
  text-align: center;
  @include clearfix;
  position: relative;


  span {
    display: inline-block;
    position: relative;
    margin-top: 30px;
  }
  span:before,
  span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid grey;
    text-align: center;
    top: 0;
    width: 600px;
  }
  span:before {
    right: 100%;
    margin-right: 15px;
  }
  span:after {
    left: 100%;
    margin-left: 15px;
  }

}