.product-item--vote {
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);
  $icon-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  i {
    text-align: center;
    font-size: 4em;
    cursor: pointer;
    color: $icon-color;
    &:hover {
      color: lighten($icon-color, 30%);
    }
  }
  span {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    //line-height: 1.1em;
    padding: 0 0.7em;
    color: $stats-color;
  }
}