<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <a ng-href="{{footer.logo.link}}">
      <img ng-src="{{footer.logo.image}}"
           alt="Logo image">
    </a>
  </div>
  <ul>
    <li ng-repeat="p in footer.primary">
      <a ng-href="{{p.link}}" translate>{{p.title}}</a>
    </li>
  </ul>

  <div class="footer-secondary-links">
    <ul>
      <li ng-repeat="s in footer.secondary">
        <a ng-href="{{s.link}}" translate>{{s.title}}</a>
      </li>
    </ul>

    <ul class="footer-social">
      <li ng-repeat="social in footer.social">
        <a ng-href="{{social.link}}">
          <i class="mdi" ng-class="'mdi-' + social.icon"
             alt="{{social.title}}"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>