.product__details {
  .comments__post {
    $action-color: #477DCA !default;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;

    &__user {
      flex: 3;
      align-self: baseline;
      img {
        min-width: 50px;
        border-radius: 50%;
        margin: 0 auto;
      }
    }
    &__form {
      flex: 9;
      align-self: baseline;
      padding: 0 20px;
      textarea {
        width: 80%;
      }
      &--button {
        @include button(flat, $action-color);
        padding: 0.7em 1em;
      }
    }
  }
}