<section class="comments__post">
  <div class="comments__post__user">
    <img src="http://placehold.it/50x50" alt=""/>
  </div>
  <div class="comments__post__form">
    <form>
      <formly-form model="post.comment" fields="post.commentField" id="formly-fields"></formly-form>
      <div ng-if="post.comment.length" class="comments__post__form--button">
        <button ng-click="submit()">Post as Username</button>
      </div>
    </form>
  </div>
</section>