.product-item {
  &--info {
    $product-text-color: #333;
    //line-height: 1.2em;
    a {
      color: $product-text-color;
    }
    &--device {
      i {
        font-size: 0.8em;
        &:hover {
          color: lighten($product-text-color, 20%);
        }
      }
    }
    h1 {

    }
    h2 {

    }
  }
}
