<div class="product-item--info">
  <h1>
    <a ng-href="{{::links.web || links.app || links.play}}">{{::title}}</a>
            <span class="product-item--info--device" ng-repeat="(icon, link) in links">
              <a ng-if="icon !== 'web'" ng-href="{{::link}}">
                <i class="mdi" ng-class="'mdi-' + icon"></i>
              </a>
            </span>
  </h1>

  <h2>{{::heading}}</h2>
</div>