.product-item--comments {
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);
  margin-left: 30px;
  i {
    font-size: 2em;
    &:hover {
      color: lighten($action-color, 10%);
    }
  }
  span {
    font-size: 0.8em;
    font-weight: 800;
    //line-height: 1em;
    padding: 0 0.7em;
    color: $stats-color;
  }
}