//
//.product--comments {
//
//  .product--comment {
//    $gutter: 10px;
//    display: table;
//    width: 100%;
//
//    .comment--image, .comment--content {
//      display: table-cell;
//      vertical-align: top;
//    }
//
//    .comment--image {
//      padding-right: $gutter;
//
//      img {
//        height: 3em;
//        max-width: 50px;
//        border-radius: 50%;
//      }
//
//    }
//
//    .comment--content {
//      width: 100%;
//    }
//  }
//}

/* here */
.product__comments {
  margin: 20px auto;
  .product__comment {
    $base-border-radius: 3px !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $comment-gutter: 1.4em;
    $comment-image-padding: 0.7em;
    $comment-image-width: 4em;
    $comment-color: $base-font-color;
    $comment-background: lighten($action-color, 15%);
    $comment-detail-color: transparentize($comment-color, 0.5);
    $comment-image-vert-alignment: top;

    border-bottom: 1px solid transparentize($comment-color, 0.9);
    display: table;
    margin-bottom: $base-spacing;
    padding: 0 2em 1em 2em;
    width: 100%;

    .product__comment--image,
    .product__comment--content {
      display: table-cell;
      vertical-align: $comment-image-vert-alignment;
    }

    &--user {
      padding-right: $comment-gutter;
      img {
        min-width: 50px;
        border-radius: 50%;
        margin: 0 auto;
      }
    }

    .comment--content {
      width: 100%;

      h1 {
        //font-size: 1em;
        margin: 0 0 0.5em 0;
      }

      p {
        //line-height: 1em;
        margin-bottom: 0.5em;
      }

      p.comment--createdAt {
        color: $comment-detail-color;
        font-size: 0.9em;
        font-style: italic;
      }
    }
  }
}