<section class="product__comments">
  <span ng-if="!comments.length">
    Be the first to post!
  </span>
  <ul ng-if="comments.length">
    <li class="product__comment" ng-repeat="comment in comments">

      <div class="product__comment--user">
        <img src="http://placehold.it/50x50"
             alt="Logo image">
      </div>

      <div class="product__comment--content">
        <h3>{{comment.username}}</h3>

        <p>{{comment.comment}}</p>

        <p class="comment--createdAt">{{ comment.createdAt | fromNow }}</p>

        <comment-vote></comment-vote>
      </div>
      <comment-flag></comment-flag>
    </li>
  </ul>
</section>
