<h1>Product Details</h1>
<div class="product__details">
  <a ui-sref="products">Back</a>
  <product-post-comments product="productDetails.product"></product-post-comments>
  <product-comments comments="productDetails.product.comments"></product-comments>
</div>