@import 'productItem';
@import 'date/date';
@import 'vote/vote';
@import 'comments/comments';
@import 'user/user';
@import 'info/info';

article {
  @extend .type-system-rounded;
  max-width: 1000px;
  overflow: hidden;
  margin: 20px auto;
}

.product-items {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $product-items-background: $base-background-color;

  @include clearfix;
  position: relative;

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $product-items-background;
    bottom: 0;
    height: 3px;
    position: absolute;
    width: 100%;
    margin-bottom: 40px;
  }

  .right-cover {
    background: $product-items-background;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4px;
  }

  &--more {
    @include button(flat, $action-color);
    display: inline;
    margin-top: 1em;
    font-size: 0.8em;
    padding: 0.75em 1em;
    text-transform: uppercase;
  }
}