@mixin product-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.product-item {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  $product-items-background: $base-background-color;
  $product-item-background: $base-background-color;
  $product-item-border: 1px solid transparentize($base-font-color, 0.8);
  $product-item-columns: 12;
  $product-item-color: $base-font-color;
  $product-item-height: 10em;
  @include transition (all 0.2s ease-in-out);

  background: $product-item-background;
  border-bottom: $product-item-border;
  border-right: $product-item-border;
  float: left;
  height: $product-item-height;
  overflow: hidden;
  outline: none;
  padding: 2em;
  text-decoration: none;
  width: 100%;

  @include media($large-screen) {
    @include product-item-columns($product-item-columns);
  }

  &:focus,
  &:hover {
    background: transparentize($product-item-color, 0.95);
  }

  &-contents {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &--vote {
      flex: 2;
      align-self: center;
    }

    &--left {
      flex: 8;
      align-self: center;
    }
    &--right {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      align-content: space-around;
      align-self: center;
    }
  }
  &--user, &--comments, {
    align-self: center;
    margin: 0 auto;
    text-align: center;
  }
}
