<article class="product-items">

  <div>
    <input type="search" ng-model="productList.search" placeholder="Search">
    <select ng-model="productList.orderProperty">
      <option value="1">Newest</option>
      <option value="-1">Oldest</option>
    </select>
  </div>

  <section infinite-scroll="productList.loadMore()" inifinite-scroll-distance="3">
    <div ng-repeat="product in productList.Products track by $index">

      <!--<div ng-if="productList.showDate($index, product.date, productList.Products[$index -1].date)">-->
      <!--<product-date date="{{product.date}}"></product-date>-->
      <!--</div>-->

      <div class="product-item">
        <section class="product-item-contents">

          <!-- vote -->
          <div class="product-item-contents--vote">
            <product-vote votes="product.votes" id="{{::product._id}}"></product-vote>
          </div>

          <!-- info -->
          <div class="product-item-contents--left">
            <!--<p class="type">{{::product.type}}</p>-->
            <product-info title="{{::product.title}}"
                          heading="{{::product.heading}}"
                          icons="product.icons"
                          links="product.links"></product-info>
          </div>

          <!-- user / comments -->
          <div class="product-item-contents--right">
            <!--<product-user user="product.user"></product-user>-->
            <a ui-sref='product({productId: product._id})'>
              <product-list-comments comments="product.comments"></product-list-comments>
            </a>
          </div>
        </section>
      </div>

    </div>
  </section>
  <!-- end ng-repeat product in products -->
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>

  <button type="button" class="product-items--more" ng-click="productList.Products.next()">More</button>
</article>
